<section
  id="intro-example"
  class="w-100 h-auto clean-block clean-hero p-5 text-center bg-image"
  style="background-image:url('img/4166092.jpg');color:rgba(9, 162, 255, 0.1); background-size: cover;
  background-position: top;
  background-repeat: no-repeat;"
>
</section>
{{!-- <div class="mt-5">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-6 col-lg-4 mt-5">
            <div class="card" style="width: 18rem;">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Học</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div> --}}